.entrada {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: center;
}

.imagens {
    width: 25%;
}